

    </div>
    <div class="navbar-container w-full flex flex-row justify-center">
        <div class="w-1/2 flex flex-row">
            <div class="w-1/3 text-center flex items-center justify-center">
                <a class="navbar-link" href="/About-Us">About Us</a>
            </div>
            <div class="w-1/3 text-center flex items-center justify-center">
                <a class="navbar-link" href="/Contact-Us">Contact Us</a>
            </div>
            <div class="w-1/3 text-center flex items-center justify-center">
                <a class="navbar-link" href="/Events">Events</a>
            </div>
        </div>
    </div>